.form-group {
  position: relative;
}

.input-login {
  font-size: 1rem;
}

.floating-label {
  position: absolute;
  top: -1rem;
  font-size: 0.9rem;
  transition: all 1s;
  z-index: 2;
}

.error-message {
  display: block;
  margin: 0 !important;
}
