@use "../../../styles/vars.scss" as vars;

.btn-icon-edit {
  background: vars.$btn-bg-icon;
  color: vars.$btn-icon-edit;
  border: none;
  border-radius: 6px;
  padding: 0.2rem 0.4rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  margin: 0.2rem 0rem;

  &:hover {
    background: vars.$btn-icon-hover;
  }

  .bi-cell {
    color: vars.$btn-icon-edit;
  }
}

.btn-icon-table {
  background: vars.$btn-bg-icon;
  color: vars.$text-header;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background 0.2s;
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.field-search {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 1px solid vars.$table-border;
  font-size: 1rem;
  min-width: 220px;
  background: vars.$bg-secondary;
  transition: border 0.2s;
  &:focus {
    border: 1.5px solid vars.$btn-hoover;
    outline: none;
  }
}

.bi-funnel-fill {
  color: vars.$icon-color;
  font-size: 1.3rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: vars.$bg-secondary;
  padding: 0px 10px 10px 10px;
  min-width: 60vw;
  max-width: 60vw;
  min-height: 85vh;
  max-height: 85vh;
  border-radius: 16px;
  box-shadow: -4px 4px 12px 2px rgba(0, 0, 0, 0.25);
}

.buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: flex-end;
}
