$bg-primary: #f5f5f5;
$bg-secondary: #ffffff;
$bg-form: #cfcfcf; 
$border-form: #ccc;
$bg-list: #e0e6f7;
$bg-list-hover: #d0d6e7;
$table-header: #000080;
$table-border: #000080;
$btn-primary: #000080;
$btn-hoover: #100053e7;
$btn-icon-edit: #ffff01;
$btn-bg-icon:#000080;
$btn-icon-hover: #100053e7;
$text-header: #ffffff;
$text: #000000;
$user-color:#f1f1f1;
$icon-color: #000080;
$menu: #1a237e;
$menu-hover: #26328c;
$menu-active: #323fa6;
$submenu-hover:  #ffeb3b;
$menu-label: #fff;
$submenu-background: #f9f9f9;
$user-fill-color: #757575;