$bg-primary: #f5f5f5;
$bg-secondary: #ffffff;
$bg-form: #cfcfcf; 
$border-form: #ccc;
$bg-list: #e0e6f7;
$bg-list-hover: #d0d6e7;
$table-header: #000080;
$table-border: #000080;
$btn-primary: #000080;
$btn-hoover: #100053e7;
$btn-icon-edit: #ffff01;
$btn-bg-icon:#000080;
$btn-icon-hover: #100053e7;
$text-header: #ffffff;
$text: #000000;
$user-color:#f1f1f1;
$icon-color: #000080;
$menu: #1a237e;
$menu-hover: #26328c;
$menu-active: #323fa6;
$submenu-hover:  #ffeb3b;
$menu-label: #fff;
$submenu-background: #f9f9f9;
$user-fill-color: #757575;
$client-menu-active: #1e40af;
$client-menu-hover: #17328a;

$color-blue-900: #1e3a8a;
$color-blue-800: #1e40af;
$color-blue-700: #1d4ed8;
$color-blue-400: #60a5fa;
$color-blue-200: #bfdbfe;
$color-green-100: #D1FAE5;
$color-green-600: #059669;
$color-green-700: #047857;
$color-green-800: #065f46;
$color-gray-50: #f9fafb;
$color-gray-100: #f3f4f6;
$color-gray-200: #e5e7eb;
$color-gray-300: #d1d5db;
$color-gray-400: #9ca3af;
$color-gray-500: #6b7280;
$color-gray-700: #374151;
$color-gray-800: #1f2937;
$color-white: #ffffff;