*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: rgba(0, 0, 0, 0.74);
    align-items: center;
    justify-content: center;
}
form{
    color: white;
    background-color: rgba(0, 0, 0, 0.305);
    padding: 40px;
    border-radius: 10px;
}
form h1{
    margin-bottom: 20px;

}
#time
{
    width: 350px;
}

#turma,
#vagas,
#time,
#observacao,
#local,
#cores
{
   height: 50px;
}
