@use "../../../styles/vars.scss" as vars;

.checkout-table-page {
  min-height: 90vh; 
  .table-container {
    width: 100%;
    min-height: 79vh !important;
    padding: 2rem 1rem;
  }
}

.cash-table-actions {
  border-top: 1px solid vars.$border-form;
  background-color: vars.$bg-primary;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;

  .cash-table-actions-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .cash-table-summary {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    color: vars.$text;
    font-size: 1rem;
  }
}

#add-movement-button {
  background-color: green;
}

#add-movement-button-exit {
  background-color: red;
}


.modal-overlay {
  position: absolute;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 10;
  background: transparent;
}

.cash-p{
  margin-top: 12px;
  margin-bottom: 12px;
}