.container {
  display: flex;
  font-family: Arial, sans-serif;
  width: 100vw;
  height: 100vh;

  .client-container {
    flex: 1;
    display: flex;
    padding: 30px;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;

    .client-side {
      width: 250px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .photo-user {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: #cfcfcf;
        object-fit: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 130px;
        color: #000080;
        margin-top: 15px;
        margin-bottom: 15px;
      }

      .client-name {
        font-weight: bold;
        font-size: 20px;
        margin: 5px 0 13px;
      }
    }

    .client-content {
      display: flex;
      flex-direction: column;
      gap: 15px;
      flex: 1;
      height: 100%;

      .tabs {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
      }

      .box-info {
        background: #cfcfcf;
        padding: 20px;
        flex-grow: 1;
      }

      .edit {
        align-self: flex-end;
      }
    }
  }
}
