@use "../styles/vars.scss" as vars;

.form-group {
  margin-bottom: 1rem;

  label {
    display: block;
    margin-bottom: 12px;
    font-weight: bold;
    gap: 1rem;

    .required-asterisk {
      color: red;
      margin-left: 0.2rem;
    }
  }

  input,
  select,
  textarea {
    resize: none;
    width: 100%;
    padding: 0.5rem;
    border: 1px solid vars.$border-form;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.2s;
  }

  &.has-error select,
  &.has-error input {
    border-color: red;
  }

  .error-message {
    color: red;
    font-size: 0.8rem;
    font-weight: normal;
    margin-left: 1rem;
  }

  .checkbox-panel-options{
    display: flex;
    gap: 1.5rem;
    .checkbox-panel-option{
      display: flex;
      align-items: center;
      gap: 0.2rem;
      input[type="checkbox"] {
        width: auto;
        width: 24px;  
        height: 24px;
      }
      font-weight: normal;
      font-size: 14px;
    }
  }
}

.btn {
  padding: 10px 20px;
  background-color: vars.$btn-primary;
  color: vars.$text-header;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: fit-content;
  margin: 5px;

  &:hover {
    background-color: vars.$btn-hoover;
  }
}

.modal-overlay {
  position: flex;
  background: transparent;
}

.modal {
  bottom: 250px;
  position: relative;
  background: #fff;
  border: 1px solid vars.$icon-color;
  padding: 1rem;
  border-radius: 10px;
  width: 280px;

  &::after {
    content: "";
    position: absolute;
    top: 100%;
    transform: translateX(50%);
    border-width: 20px;
    border-style: solid;
    border-color: vars.$icon-color transparent transparent transparent;
  }
}


.modal input {
  margin-top: 15px;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
}


.modal-actions {
  display: flex;
  justify-content: space-between;
}