@use "../../../styles/vars.scss" as vars;

.container-contract-register {
  padding: 20px;
  display: flex;
  font-family: Arial, sans-serif;
  overflow: hidden;
  width: 100%;
  flex-direction: column;

  .btn-icon {
    border: none;
    color: vars.$btn-bg-icon;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 4px;
    transition: background 0.2s;
  }

  .form {
    flex:1;
    overflow-y: auto;
    margin-bottom: 40px;

    .block {
        display: flex;
        flex-direction: column;
        gap: 16px;
    
        .row {
          display: flex;
          gap: 16px;
          width: 100%;
    
          >* {
            flex: 1 1 0;
            min-width: 0;
          }
        }
    
        .row-3 {
          display: flex;
          gap: 16px;
          width: 100%;
    
          >* {
            flex: 1 1 0;
            min-width: 0;
          }
        }
    
        .full-width {
          width: 100%;
        }
      }

    .side {
      display: flex;
      gap: 16px;
      width: 100%;

      > * {
        flex: 1 1 0;
        min-width: 0;
      }

      .arrow-time {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        flex: 0 0 auto;
        padding: 16px 4px 0px 4px;
      }
    }
  }
}