@use "../../../styles/vars.scss" as vars;

.container {
  display: flex;
  font-family: Arial, sans-serif;
  overflow: hidden;
  width: 100%;

  .form {
    flex:1;
    overflow-y: scroll;
    margin-bottom: 40px;
    scrollbar-width: none;

    .block {
      background-color: vars.$bg-form;
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 10px;

      h3 {
        background-color: vars.$table-header;
        color: vars.$text-header;
        padding: 8px 12px;
        margin: -20px -20px 20px -20px;
        font-size: 16px;
        border-radius:10px 10px 0 0;
      }
    }
  }
}
