@use "../../styles/vars.scss" as vars;

.table-container {
  width: 100%;
  min-height: 100vh;
  background: vars.$bg-primary;
  padding: 2rem 1rem;
}

.table-header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background: vars.$bg-list;
  border-radius: 10px;
  border: 1px solid vars.$table-border !important;
  overflow: hidden;
  box-shadow: 0 2px 8px #0001;

  th,
  td {
    padding: 1rem 0.6rem;
    text-align: left;
    font-size: 1rem;
    border: none; // Remove qualquer borda interna
    vertical-align: middle;
  }

  td {
    padding: 0rem 0.6rem;
  }

  th {
    background: vars.$table-header;
    color: vars.$text-header;
    font-weight: 600;
  }

  tbody td {
    border-bottom: 1px solid vars.$table-border;
  }

  tbody tr:last-child td {
    border-bottom: none;
  }

  tbody tr:hover {
    background: vars.$bg-list-hover;
    transition: background 0.2s;
  }

  td:last-child,
  th:last-child {
    text-align: center;
  }


}
